@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    background-color: #111;
}

.square[data-color="true"] {
    background-color: rgb(24 24 27);
}
.square[data-color="false"] {
    background-color: white;
}

.square[data-active="true"] {
    background-color: rgb(253 224 71);
}


.square[data-knight="true"] {
    background-color: rgb(34 197 94);
}
.square[data-knight="true"]:focus-within {
    outline: 3px solid rgb(59 130 246);
}

.primary-heading {
    -webkit-text-fill-color: transparent;
}